#logo{
    image-rendering: auto;
    
}
img{
    height: 46px;
    float: left;
    padding-top: 10px;
    
}



#menu{
    font-family: helvetica,Arial, Helvetica, sans-serif;
    background:  white;
    width: 100%;
    

}