<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="NavBar.css"/>
    <link href="NavBar.jsx"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOTO DESING</title>
</head>
<body>
    <header>
        <section id="global">

        <div id="logo">
            
        </div>
    
        <div class="clearfix"></div>
        <nav id="menu">
            <ul>
                <li><img src="./foto/logo3.jpg"></li>
                <li><a href="">INICIO</a></li>
                <li><a href="">PRODUCTOS</a></li>
                <li><a href="">CONTACTANOS</a></li>
            </ul> 
        </nav>
    </header>
</section>
</body>
</html>